---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Contacto - Code-QX">
  <Header />
  <main>
    <HeroSection 
      title="Contactanos" 
      description="Estamos aquí para poder revolucionar tu negocio"
    />
    <ContactForm />
  </main>
  <Footer />
</Layout> 
